nav {
    font-family:Arial;
    display:flex;
    align-items:center;
    list-style:none;
    background-color: white;
    border-radius: 50px;
    box-shadow: 5px 5px 5px 5px rgba(0, 0, 0, 0.25);

}

nav > a {
    font-family:Arial;
    font-size:25px;
    color: black;
}

nav li {
    font-family:Arial;
    list-style:none;
    padding: 0;
    display:flex;
    align-items:center;
    width: 100%;
}

nav li a {
    text-align:center;
    display:block;
    padding:10px 0;
    width:100%;
    list-style:none;
    color:black;
}

body {
  background-color: rgba(122, 196, 54, 0.5);
    background-repeat:no-repeat;
    background-size:cover;
}


fieldset
{
  width:300px;

}

.h1_a {
    text-align:center;
    font-family:Arial;
    color:black;
    font-size:20px; 
}

.h1_b {
    text-align:left;
    font-family:Arial;
    color:black;
    font-size:20px; 
}

.p_a {
    font-family:Arial;
    font-size: 20px;
    text-align:center;
    color:black;
}

.p_b {
    font-family:Arial;
    font-size: 20px;
    text-align:left;
    color:black;
}

.fundo_1 {
    background: #ffffff67;
    border-radius: 20px;
    box-shadow: 5px 5px 5px 5px rgba(0, 0, 0, 0.25);
    margin-left: 25%;
    margin-right: 25%;
}

@media screen and (min-width: 320px) {

    nav {
        flex-direction:row;
        justify-content:space-around;
    }

    nav li {
        flex-direction:row;
        width:50%;
    }

    footer{
        background-color:#4949494d;
        text-align:center;
    }
}